@import "tailwindcss";

@theme {
  --animate-chatrooms-loading: chatrooms-loading 1s infinite alternate;

  @keyframes chatrooms-loading {
    0% {
      background-color: #3b3b3b;
    }
    100% {
      background-color: #2e2e2e;
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}